<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_08_02_TBQAnhHDHuyDQHung_LTNET.Properties.Settings.qlnh_08_TBQAnhHDHuyDQHungConnectionString"
            connectionString="Data Source=DESKTOP-P41OJDS\SQLEXPRESS;Initial Catalog=qlnh_08_TBQAnhHDHuyDQHung;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="_08_02_TBQAnhHDHuyDQHung_LTNET.Properties.Settings.qlnh_08_TBQAnhHDHuyDQHungConnectionString1"
            connectionString="Data Source=LAPTOP-4ODME1Q0\SQLEXPRESS01;Initial Catalog=qlnh_08_TBQAnhHDHuyDQHung;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>